/*Questo è il foglio di stile con i menu le h1 blu e i Capi_Lettera Rossi.*/

body {
	/*
	background-color: #ffffff ;
	*/
	/*
	background-color: #FF0000;
	*/
	background-color: #FFFFEF;
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;
}

#header {
	background-image: url(immagini/back_header.png);
   background-repeat: repeat-x;
   padding: 1em;
}

#contenitore {
	/*
	width: 760px;
	*/
	width: 960px;
	margin: 0 auto;
	text-align: left;
   background-color : #FFFFEF; 
    
    padding: 3em;
    }

#header {
	
}

#logo {
	width:600px;
	margin-left: auto;
	margin-right: auto;
	}
/* Banner */
#banner {
	margin-top: auto;
	padding: 10px 0px 0px 0px;
	float: right;
	width: 13em; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-weight: bold;
	background: trasparent;

	}

.ogni_banner img {
	border: 0px;
	}
#id top_cento {
	width:88px;
	height:31px;
	margin-left: auto;
	margin-right: auto;
	}

/* Colonna dx */
#rettangolo_destro {
	padding : 0em 0px 3em 0px;
	}
#orario {
	background-image: url(immagini/back_h3.png);
   background-repeat: repeat-x;
   padding-top: 1em;
   padding-bottom: 1em;
   text-align: center;
	}
#rettangolo_alto_dx {
	
	margin-top: 64px;
	color: #000000;
	font-size: 14px; 
	font-weight: bold;
	border-top: 3px solid #000000;
	border-right: 1px solid #FFC45F;
	border-left: 1px solid #FFC45F;
	border-bottom: 1px solid #FFC45F;
	}
#rettangolo_alto_dx table {
	
	}


/*	 Menu */
.pre-menu {
	margin: 3em 1em auto 1em;
	float: left;
	width: 13em; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: bold;
	color: #000000;
	}
	
#menu {
	margin: 3em 1em auto 1em;
	float: left;
	width: 13em; 
	/*
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	*/
	font-size: 14px; 
	font-weight: bold;
	border-right: 1px solid #FFC45F;
	border-left: 1px solid #FFC45F;
	border-bottom: 1px solid #FFC45F;
	}
#menu h3 {
	/*
	color: #99A6BF;
	
	*/
	
	color: #000000;
	margin: 0px; 
	padding: 0.5em ;
	font-weight: bold;
	border-top: 2px solid #000000;
	background-image: url(immagini/back_h3.png);
   background-repeat: repeat-x;
	}
#menu h4 {
	color: #ffffff;
	margin: 0px; 
	padding: 0.5em ;
	font-weight: bold;
	}
/* Serve per il new rosso in apice sul servizio novità*/
#apice {
	color: #F7000C;
	display: inline;
	margin-bottom: 2px;
	}
	
.MenuSecondario {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-weight: bold;
	text-align: left;
	color: #ffffff;
	margin-top: -1.0em;
	margin-left: 2em;
	}
	
	/* Aggiusta le prenotazioni tedesche */
#menu li {
	margin: 0px 0px 0px -1em;
		}
			
#menu a {
	color:#000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
		}
#menu a:hover {
	text-decoration: underline;
	
	}
#menu a#activelink{
	color: #FF0000;
	text-decoration: none;
	}
#contatori {
	float: left;
	width: 13em; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #000000;
	font-size: 10px; 
	font-weight: bold;
	
	padding-top: 4em;
	margin-left: 3em;
	}
/* Bandiere */
#bandiere {
	padding: 1em 0em 1em 6em;
	}
	
	.allineamento {
	padding: 1em 3em 0.5em 7em;
	border: 0px ;
	}
	
/* Qui ci stà la promozione ed i contenuti */
#contenuti {
	margin: 0px 13em 0px 15em;
	padding: 1em;
	font-family: Geneva, Verdana, Helvetica, sans-serif; font-size: 14px; color: #000000;
	}

.Prima_Lettera_Intestazioni {
	/*
	font-family: Geneva, Arial, Helvetica, sans-serif; color: #FFFFFF; 
	*/
	font-family: 'times',roman, serif; color: #FFFFFF;
	font-weight:bold; font-size:32px;
	background-color: #FF0000;
	display: inline;
	padding: 2px 0px 0px 6px;
	
	 border-right: 1px dotted #36c;
    border-top: 2px solid #36c;
    border-left: 2px solid #36c;
    border-bottom: 2px solid #36c;
    
	}
#contenuti h1 {
	font-family: Arial, Helvetica, sans-serif; color: #FFFFFF; 
	 
    border-bottom: 2px solid #36c;
	display: inline;
	color: #000000;
	
	
	
	
	}
	/*	
	.Prima_Lettera_Intestazioni {
	font-family: Geneva, Arial, Helvetica, sans-serif; color: #FFFFFF; 
	font-weight:bold; font-size:26px;
	background-color: #0054F7;
	display: inline;
	padding: 2px 0px 0px 6px;
	}
#contenuti h1 {
	font-family: Arial, Helvetica, sans-serif; color: #EF2800; font-size:16px; 
	background-color: #FBFF00;
	display: inline;
	padding: 0px 0px 3px 0px;
	
	}
*/
	/*
.Corpo_Intestazioni {
	font-family: Geneva, Arial, Helvetica, sans-serif; color: #FFFFFF;
	background-color: #000080;
	display: inline;
	}
	*/
		
#contenuti h2 {
	font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 25px; color: #df3514;
	padding-top: 15px;
	}
#presentazione {
	/*
	padding-bottom: 13em;
	*/

	}
	
/* Immagini in home */

#contatti {
	margin-left: -19px;
	padding-top:3em;
	padding-bottom:12em;
	}

#contatti td {
	text-align: center;
	}
.contatti {
	font-family: Geneva, Arial, Helvetica, sans-serif; font-weight: bold;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-left: 10px;
	}

#meeting {
	padding-bottom:36em;
	}
/* Abilito o no la promozione */

#promozione {
	display: none ;
	}

	
/* Qui metto lo stile della prenotazione :-) */

.Campo {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000;
	padding: 0.2em;
		}
.esempio {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; font-weight: bold; 
	color: #afaaaa;
	}
#prenotazioni {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	}
.informativa {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px;
	}
	
#fuori-servizio a {
	border: 0px;
	}
	
#bottoni {
	padding: 5px;
	
	}

.formatta_bottoni {
	background-image: url(immagini/back_h3.png);
   background-repeat: repeat-x;
	border-top: 2px solid #FFEB0F;
	border-right: 2px solid #FFEB0F;
	border-bottom: 2px solid #FFEB0F;
	border-left: 1px solid #FFEB0F;
	color: #000000;
	font-weight: bold;
	
	}
	
/* Preventivo */

#enfasi_preventivo {
	font-size: 18px; 
	color: #000000;
	padding-bottom: 1em;
	}
#enfasi_preventivo h3 {
	font-size: 20px;
	color: #FF0000;
	}
.enfasi_dettaglio{
	display: inline;
	color: #FF0000;
	font-weight: bold;
	}
	
#prev_risp {
	font-size: 18px; font-weight: bold;
	display: inline;
	}
	
/* Shuttle-Airport */

#shuttle-airport td {
	padding: 1em 1em 1em 1em;
	}
	
/* Carte di credito */
#carte_di_credito {
	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 12px; 
	text-align: center; 
	color: #696969;
	clear: left;
	}

/* Footer */
.footer {
	padding-top: 0.5em;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0.5em;
	margin: auto;
	border:0px;
	}

#footer {
	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	text-align: center; 
	color: #000000;
	background-image: url(immagini/back_footer.png);
   background-repeat: repeat-x;
	clear: left;

	}
#footer a {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: bold;
	text-align: right; 
	color: #ACACAC;
}
#footer p {
	text-align : right;
	display : inline;
	}
#babbo_natale {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: bold;
	color: #ff3a18;
	}


/* Hotel */

.ogni_banner {
	padding: 2px 0px 30px 3em;
	}
	
.ogni_hotel {
	padding: 2px 0px 4px 3em;
	}
	
#hotel table {
	padding-top: 20px;
	padding-left: 30px;
	
	
	}
#hotel td {
	padding-top: 10px;
	
	
	background-image: url(immagini/back_h3.png);
   background-repeat: repeat-x;
   border-top: 2px solid #000000;
	}
#hotel img {
	border:0px;	
	}
#hotel h3 {
	text-align: center;
	font-weigth: bold;
	}
#hotel p {
	text-align: center;
	font-weight: bold;
	}